.header {
    padding: 15px 0;
    margin: 0;
    margin-bottom: 100px;
}

.logo {
    display: inline-block;
    max-width: 200px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    color: #555252;
    font-family: 'Roboto', sans-serif;
}

.logo::first-letter {
    font-weight: 600;
    color: #1abc9c;
}

.menu {
    padding: 0;
    margin: 0;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    float: right;
}

.clearfix::after {
    content: '';
    display: table; 
    clear: both;
 }

.container{
    padding: 0 15px;
    max-width: 1140px;
    margin: 0 auto;
    
}

.menu li {
    display: block;
    float: left;
    margin-right: 35px;
}

.menu li a {
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    color: #333;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a:hover{
    color: #1abc9c;
}

.menu li a:focus {
    color: #1abc9c;
}

.Name_of_webpage{
    padding: 0;
    display: block;
    max-width: 1170px;
    margin: 0px auto;
}

.page-section {
    padding-bottom: 2rem;
    overflow: hidden;
}


.page-section .title {
    text-align: center;
    font-size: 45px;
    color: #515151;
    margin: 0px;
    margin-bottom: 70px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.title {
    margin: 0;
    margin-bottom: 30px;
}

.page-section .title::after {
    content: "";
    display: block;
    width: 160px;
    border-bottom: 7px solid #1abc9c;
    margin: 0 auto;
    padding-top: 20px;
}

.page-section:after {
    clear: both;
}

.body-pictures{
    list-style: none;
    margin: 0;
    padding: 0;
}

.body-pictures li{
    margin-right: 30px;
}

.pictures {
    float: left;
    width: 255px;
    height:322px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    
}

.pictures:nth-child(4n){
    margin-right: 0;
}

.pictures:nth-child(){
    margin-bottom: 0px;
}

.pictures img{
    display: block;
    width: 255px;
    height: 282px;
    padding-bottom: 0px;
}

.pictures:hover .name{
    background-color: #1abc9c;
}

.pictures:hover .price{
    background-color: #7fd9c7;
}

.article-list li {
    float: left;
    width: 350px;
    margin-right: 30px;
}

.article-list li::after{
    clear: both;
}

.article-list li:nth-child(3n){
    margin-right: 0;
}
.article img {
    width: 350px;
    height: 262px;
    margin-bottom: 10px;
}

.describtion{
    font-weight: normal;
    font-size: 18px;
    color: #555252;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    margin-bottom: 30px;
}

.describtion::after{
    content: "";
    display: block;
    width: 135px;
    border-bottom: 3px solid #4ec6ab;
    padding-top: 15px;
}

.describtion2 {
    color: #555252;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    margin-bottom: 20px;
}

.readmore{
    display: block;
    text-decoration: none;
    background-color: #4ec6ab;
    color: #f3fbf9;
    border: 0;
    max-width: 160px;
    max-height: 20px;
    border-radius: 3px;
    padding: 15px;
    text-align: center;
}

.info {
    width: 255px;
    height: 40px;
    margin: 0;
    padding: 0;
}

.name{
    width: 180px;
    height: 20px;
    display: block;
    background-color: #323232;
    margin: 0;
    float: left;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.price{
    width: 35px;
    height: 20px;
    display: block;
    background-color:#8c8c8c;
    margin: 0;
    float: left;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.article-list {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}