.header {
    padding: 15px 0;
    margin-bottom: 15px;
}

.logo {
    display: inline-block;
    max-width: 200px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    color: #555252;
    font-family: 'Roboto', sans-serif;
}

.logo::first-letter {
    font-weight: 600;
    color: #1abc9c;
}


.menu {
    padding: 0;
    margin: 0;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    float: right;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
 }

.container{
    padding: 0 15px;
    max-width: 1140px;
    margin: 0 auto;
}

.menu li {
    display: block;
    float: left;
}

.menu li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    color: #333;
}

.menu li {
    margin-right: 35px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a:hover{
    color: #1abc9c;
}

.menu li a:focus {
    color: #1abc9c;
}

.slider {
    min-height: 600px;
    margin: 0 auto;
    background-image: url("images/1.jpg");
    background-repeat: no-repeat;
    
}

.slide-title {
    width: 1110px;
    min-height: 600px;
    margin: 0 auto;
    position: relative;
}

.slider-control {
    padding: 30px;
    position: absolute;
    width: 105px;
    height: 105px;
    display: inline-block;
    opacity: 0.3;
    background-color: #1abc9c;
    border: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background-position: center, center;
}

.slider-control-prev {
    background-image: url("images/left_arrow.png");
    background-repeat: no-repeat;
    left: 0;
}

.slider-control-next {
    background-image: url("images/right_arrow.png");
    background-repeat: no-repeat;
    right: 0;
}

.slides {
    list-style: none;
    margin: 0;
    padding: 0;
}


.slide-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.slide-describtion {
    margin: 0 0 25px 0;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 59px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.slide-text {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 25px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
   margin: 0;
}

.button-img {
    width: 25%;
    height: 35%;
}

.slider-control:hover, .slider-control:focus {
    opacity: 1;
}

.left-img {
    transform: rotate(180deg);
}

.page-section {
    width: 100%;
    background-color: #e9f0fd;
    padding-top: 70px;
    padding-bottom: 30px;
}

.page-section .title {
    text-align: center;
    font-size: 45px;
    color: #515151;
    margin: 0;
    margin-bottom: 70px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}


.page-section .title::after {
    content: "";
    display: block;
    width: 160px;
    border-bottom: 7px solid #1abc9c;
    margin: 0 auto;
    padding-top: 20px;
}

.page-section:after {
    clear: both;
}

.body-pictures {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pictures {
    float: left;
    margin-right: 30px;
    width: 255px;
    height:322px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    
}

.pictures:nth-child(4n){
    margin-right: 0;
}

.pictures:nth-child(){
    margin-bottom: 0px;
}

.picture-gallery {
    display: block;
    width: 255px;
    height: 282px;
    padding-bottom: 0px;
}

.name {
    width: 180px;
    height: 20px;
    display: block;
    background-color: #323232;
    margin: 0;
    float: left;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.price {
    width: 35px;
    height: 20px;
    display: block;
    background-color:#8c8c8c;
    margin: 0;
    float: left;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.pictures:hover .name{
    background-color: #1abc9c;
}

.pictures:hover .price{
    background-color: #7fd9c7;
}

.container-hover-card {
    width: 255px;
    height: 282px;
    padding: 75px 30px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top:0;
    border: 10px solid  rgba(255, 255, 255, .7);
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 200ms linear;
}

.pictures:hover .container-hover-card{
    opacity: 1;
}

.actions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
}

.action-hover {
    display: block;
    float:left;
    margin-right: 6px ;
    margin-bottom: 6px;
}

.action-hover:nth-child(n-3) {
    margin-bottom: 10px;
    margin-right: 10px;
}

.action4 {
    position: relative;
    background-color: #323232;
    
}

.action-hover:nth-child(3) {
    margin-right: 0;
}

.action-link {
    display: block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    border: 2px solid white;
}

.add-to-card {
    position: absolute;
    display: inline;
    
    left: 55px;
    bottom: 0;
}

.action-hover:last-child {
    margin-bottom: 0px;
}

.link1 {
    background-image: url("images/b1.png");
    background-repeat: no-repeat;
    background-position: center, center;
}

.link2 {
    background-image: url("images/b2.png");
    background-repeat: no-repeat;
    background-position: center, center;
}

.link3 {
    background-image: url("images/b3.png");
    background-repeat: no-repeat;
    background-position: center, center;
}

.link4 {
    background-image: url("images/b4.png");
    background-repeat: no-repeat;
    background-position: 10%, center;
    line-height: 50px;
    border: 2px solid white;
    width: 180px;
    height:50px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
}

.link4 span {
    margin-left: 35px;
}

.pictures:hover .actions{
    display: block;
}

.change-color:hover {
    border: 2px solid #1abc9c;
    background-color: #1abc9c;
}



.footer {
    height: 90px;
    width: 100%;
    background-color: #323232;
}

.page-info p {
    margin: 0;
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 37px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.blue-text {
    text-decoration: none;
    color: #1abc9c;
    display: inline-block;
}

.slide-info {
    position: absolute;
    top: 45%;
    left: 18%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    list-style: none;
}