.profile-picture {
    width: 150px;
    height: 150px;
    background-color: #80bdff; 
    border-radius: 100px;

}

.main {
    padding-top: 25px;
    padding-left: 25px;
}

.user-photo {
    color: #007bff;
    font-size: 107px;
    padding: 0 28px;
}

@media(max-width:340px){
    .user-photo {
        font-size: 95px;
    }

    .profile-picture {
        width: 140px;
        height: 140px;
    }
}

.username {
    font-size: 25px;
    
    color: #333;
    padding: 0;
    margin: 0;
    padding-left: 15px;
    margin-top: 15px;
}

.profession {
    
    color: #007bff;
    font-size: 15px;
    padding: 0;
    margin: 0;
    padding-left: 15px;
    margin-bottom: 70px;
}

.wrapper-main-info {
    display: flex;
    margin-bottom: 20px;
}

.location {
    color: #999;
    font-size: 15px;
    padding: 0;
    margin: 0;
    padding-left: 15px;
    margin-top: -20px;
}

.review-stars {
    padding: 0;
    margin: 0;
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.review-wrapper {
    display: flex;
    margin-bottom: 10px;
}

.stars-count {
    padding: 0;
    margin: 0;
    color: #333;
    font-size: 20px;
    padding: 8px 10px;
}

.e-mail {
    color: #007bff;
    text-decoration: underline;
    padding-top: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}

.timezone {
    text-decoration: none;
}



.button1 {
 margin-right: 30px;
}

.map-count {
    margin-bottom: 20px;
}

.profile-button {
    border: 4px solid #007bff;
    padding: 5px 10px;
    border-radius: 10px;
}

.downloading-title {
    color: #007bff;
    font-family: 'Merienda', serif;
    font-size: 25px;
    text-align: center;
    
}

.downloading-title .fa-lock {
    font-size: 18px;
}

.extra-possibilities
{
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 20px;
}

.button2 {
    display: block;
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
}

